@{
    ViewData["Title"] = "Delete Page";
}

@model Tasks
<h3>Confirm Deletion</h3>
<br />
<h4>Are you sure you want to delete the task for @Model.task?</h4>

<form method="post" asp-action="Delete">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Cancel</a>

    <input type="hidden" asp-for="TaskId" />
</form>