@{
    ViewData["Title"] = "Home";
}

<div class="page-header text-center" id="banner">
    <div class="row">
        <div class="col-12 mt-3">
            <h1>To-Do</h1>
            <p class="lead">A to-do list set up into four quadrants</p>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-center">
    <div class="row mx-3">
        @* style="max-width: 30rem;"*@
        @* Important and Urgent *@
        <div class="card text-white bg-danger m-3 mx-auto">
            <div class="card-header">Important and Urgent</div>
            <div class="card-body">
                <h4 class="card-title">Danger card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        @* Important, but not Urgent *@
        <div class="card text-white bg-info m-3 mx-auto">
            <div class="card-header">Important, but not Urgent</div>
            <div class="card-body">
                <h4 class="card-title">Info card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

    <div class="row mx-3">
        @* Urgent, but not Important *@
        <div class="card text-white bg-warning m-3 mx-auto">
            <div class="card-header">Urgent, but not Important</div>
            <div class="card-body">
                <h4 class="card-title">Warning card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        @* Not Urgent, and not Importent *@
        <div class="card text-white bg-primary m-3 mx-auto">
            <div class="card-header">Not Urgent, and not Importent</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    </div>
</div>
