@{
    ViewData["Title"] = "Home";
}

@model List<Mission08_Team0303.Models.Task>

<div class="page-header text-center" id="banner">
    <div class="row">
        <div class="col-12 mt-3">
            <h1>To-Do</h1>
            <p class="lead">A to-do list set up into four quadrants</p>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-center">
    <div class="row mx-3">
        @* Important and Urgent *@
        <div class="card text-white bg-danger m-3 mx-auto p-0">
            <div class="card-header d-flex justify-content-between">Urgent | Important <span>Quadrant 1</span></div>
            <div class="card-body">
                <h3 class="card-title">To-Do:</h3>
                <table class="table table-hover table-danger">
                    <thead>
                        <tr>
                            <th scope="col">Status</th>
                            <th scope="col">Task</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Category</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><center><input class="form-check-input" type="checkbox"></center></th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td><a class="btn btn-edit px-2 py-0">Edit</a></td>
                            <td><a class="btn btn-delete px-2 py-0">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @* Important, but not Urgent *@
    <div class="card text-white bg-warning m-3 mx-auto p-0">
        <div class="card-header d-flex justify-content-between">Urgent | Not Important <span>Quadrant 3</span></div>
        <div class="card-body">
            <h3 class="card-title">To-Do:</h3>
            <table class="table table-hover table-warning">
                <thead>
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Task</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Category</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><center><input class="form-check-input" type="checkbox"></center></th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td><a class="btn btn-edit px-2 py-0">Edit</a></td>
                        <td><a class="btn btn-delete px-2 py-0">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>

    <div class="row mx-3">
        @* Urgent, but not Important *@
        <div class="card text-white bg-info m-3 mx-auto p-0">
            <div class="card-header d-flex justify-content-between">Not Urgent | Important <span>Quadrant 2</span></div>
            <div class="card-body">
                <h3 class="card-title">To-Do:</h3>
                <table class="table table-hover table-info">
                    <thead>
                        <tr>
                            <th scope="col">Status</th>
                            <th scope="col">Task</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Category</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><center><input class="form-check-input" type="checkbox"></center></th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td><a class="btn btn-edit px-2 py-0">Edit</a></td>
                            <td><a class="btn btn-delete px-2 py-0">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @* Not Urgent, and not Importent *@
        <div class="card text-white bg-primary m-3 mx-auto p-0">
            <div class="card-header d-flex justify-content-between">Not Urgent | Not Important <span>Quadrant 4</span></div>
            <div class="card-body">
                <h3 class="card-title">To-Do:</h3>
                <table class="table table-hover table-primary">
                    <thead>
                        <tr>
                            <th scope="col">Status</th>
                            <th scope="col">Task</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Category</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><center><input class="form-check-input" type="checkbox"></center></th>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td>Column content</td>
                            <td><a class="btn btn-edit px-2 py-0">Edit</a></td>
                            <td><a class="btn btn-delete px-2 py-0">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
